.menu {
    position: absolute;
    visibility: visible;
}

.menu__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    opacity: 1;
}
.menuline {
    background-color: cyan;
    width: 2px;
    height: 1960px;
    left: 160px;
    position: absolute;
}

.menu__overlay:hover {
    opacity: 0.7;
}

.popUpMenuButtom {
    visibility: hidden;
}

.popUpMenu {
    position: absolute;
    visibility: hidden;
}
.header {
    color: cyan;
    font-size: 40px;
    position: absolute;
    left: 30vw;
    top: -15px;
}
.textArea {
    top: 2px;
    background-color: black;
    height: 300%;
    width: 100%;
    left: 2px;
    position: absolute;
}

.textBorder {
    background-color: #1f2833;
    color: #c5c6c7;
    width: 40vw;
    left: 25vw;
    border: 5px solid cyan;
    padding: 10px;
    position: absolute;
    font-size: 20px;
}
.pageText {
    position: absolute;
    top: 20px;
    color: #c5c6c7;
    font-size: 20px;
}

.menuText {
    position: relative;
    text-align: center;
    color: cyan;
}
.centeredH {
    position: absolute;
    font-size: 25px;
    transform: translate(30%, -200%);
}
.centeredHM{
    position: absolute;
    font-size: 40px;
    top: 0%;
    left: 0%;
    transform: translate(25%, 120%);
}
.centeredCPUM {
    position: absolute;
    font-size: 40px;
    top: 150px;
    left: 0%;
    transform: translate(15%, 110%);
}
.centeredGPUM {
    position: absolute;
    font-size: 40px;
    top: 300px;
    left: 0%;
    transform: translate(70%, 120%);
}
.centeredRAMM {
    position: absolute;
    font-size: 40px;
    top: 452px;
    left: 0%;
    transform: translate(20%, 110%);
}
.centeredOTHM{
    position: absolute;
    font-size: 40px;
    top: 605px;
    left: 0%;
    transform: translate(13%, 110%);
}

